---
interface Props {
    name: string;
    url: string;
    isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const pokemonId = url.split("/")[url.split("/").length - 2];
---

<!-- href=`/pokemon/${pokemonId}` -->
<a
    href=`/pokemons/${name}`
    class:list={[
        ` p-4 rounded-lg hover:scale-110 transition-all ease-in-out duration-300 cursor-pointer shadow-md bg-gradient-to-tr from-pink-300 to-purple-400`,
        {},
    ]}
>
    <img
        transition:name={`${name}-image`}
        src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`
        alt={pokemonId}
        class:list={[
            {
                "w-26 h-26": isBig,
                "w-22 h-22": !isBig,
            },
        ]}
    />

    <div class="flex justify-center">
        <span
            class:list={[
                ` font-bold text-center capitalize text-blue-600`,
                {
                    "text-2xl": isBig,
                    "text-xl": !isBig,
                },
            ]}
        >
            # {pokemonId}
            {name}
        </span>
    </div>
</a>
