---
import { ViewTransitions } from "astro:transitions";
import { siteInfo } from "../constants/site-info";
import "../styles/style.css";

interface Props {
    title: string;
    image?: string;
    description?: string;
}

const {
    title = siteInfo.title,
    description = siteInfo.description,
    image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <meta name="author" content="Alan Alexis Hernandez" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="bg-slate-800 text-slate-100 m-auto max-w-5xl">
        <main class="my-10">
            <slot />
        </main>
    </body>
</html>
